<!-- headermenustyle.html  -  menu for scheduling website -->
<!-- purpose: common file to include to show menu on top of pages -->

<style>
	.headertable
		{
	  width:70%;
		}

 	.headertable td 	
		{
		width:500px; 
		text-align:center;
		border:5px solid black;
		font-size: 25px; 
		font-family: Verdana;
		padding: 10px;
		}

  .headertable2
		{
		}

	.headertable2 td
		{		
		width:300px; 
		text-align:center;
		font-size: 18px; 
		font-family: Verdana;
		}
</style>

